@import "vars";

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  background: #4e54c8;
  background: linear-gradient(to left, $light-blue-light, $light-blue-dark);

  &__shapes {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  &__shapes li {
    position: absolute;
    bottom: -150px;
    display: block;
    list-style: none;
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, .2);
    animation: animate 25s linear infinite;
  }

  &__shapes li:nth-child(1) {
    left: 25%;
    height: 80px;
    width: 80px;
    animation-delay: 0s;
  }

  &__shapes li:nth-child(2) {
    left: 10%;
    height: 20px;
    width: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  &__shapes li:nth-child(3) {
    left: 70%;
    height: 20px;
    width: 20px;
    animation-delay: 4s;
  }

  &__shapes li:nth-child(4) {
    left: 40%;
    height: 60px;
    width: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  &__shapes li:nth-child(5) {
    left: 65%;
    height: 20px;
    width: 20px;
    animation-delay: 0s;
  }

  &__shapes li:nth-child(6) {
    left: 75%;
    height: 110px;
    width: 110px;
    animation-delay: 3s;
  }

  &__shapes li:nth-child(7) {
    left: 35%;
    height: 150px;
    width: 150px;
    animation-delay: 7s;
  }

  &__shapes li:nth-child(8) {
    left: 50%;
    height: 25px;
    width: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  &__shapes li:nth-child(9) {
    left: 20%;
    height: 15px;
    width: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  &__shapes li:nth-child(10) {
    left: 85%;
    height: 150px;
    width: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
